hr {
    margin: 30px 0;
}

body {
    margin: 30px;
}

main {
    padding: 0 30px;
}

.float-container {
    border: 5px solid #fcc;
    background-color: #fcc;
    width: 200px;
}

.clear-float:after {
    content: 'xxx';
    visibility: hidden;
    clear: both;
}

.sample-container {
    border: 1px solid black;
    width:500px;
    margin: 0 auto;
}
