hr {
    margin: 50px 0;
}

body {
    margin: 0;
}

p {
    line-height: 1.5em;
}

main {
    padding: 0 50px;
}


/* a: begin */
a {
    color: gray;
    text-decoration: none;
    list-style: none;
}

a:hover {
    color: #34c2e3;
}

/* a : end */


.float-container {
    border: 5px solid #fcc;
    background-color: #fcc;
    width: 200px;
}

.clear-float:after {
    content: 'xxx';
    visibility: hidden;
    clear: both;
}

.sample-container {
    border: 1px solid black;
    width:500px;
    margin: 0 auto;
}

.code-module {
    max-height: 300px;
    overflow: scroll;
}
